.primary-bg{
    background-color: #ff416c;
}

.secondary-bg{
    background-color: #d15e79;
}

.white-bg{
    background-color: white;
}

.black-bg{
    background-color: black;
}

.primary-text{
    color: #ff416c;
}

.secondary-text{
    color:#d15e79;
}

.white-text{
    color: #fff;
}

.black-text{
    color: #000;
}

.nav-color{
    background-color: #f44336;
}